@font-face {
    font-family: RobotoMono;
    src: url(/resources/fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: EvilDead;
    src: url(/resources/fonts/EVILDEAD.ttf);
}

.cotl {
    background-color: black;
    color: white;
    font-family: RobotoMono;
}

.dialogTitle {
    color:white;
    font-family: RobotoMono;
    position: absolute;
    left:20%;
    transform: translateY(-60px);
    
}
/* Dialog box stuff */
.dialogBox {
    border: 5px solid black;
    border-radius: 10px;
    width: 60%;
    padding: 1%;
    margin: auto;
    display: flex;
    background-color: #111;
}

.dialogText {
    font-size: 14px;
    font-kerning: ;
    line-height: 1.5;
}
.dialogPortrait {
    width: 80px;
    height: 80px;
    margin-right: 16px;
    background-size: cover;
}

.lamb {
    border-color: red;
    font-family: EvilDead;
    font-size: 80%;
    color: #c00000;
}


