.cotl {
    background-color: black;
    color: white;
    font-family: RobotoMono;
}

/* Basic dialog box stuff */
.dialogTitle {
    color:white;
    font-family: RobotoMono;
    font-size: initial;
    position: absolute;
    left:20%;
    transform: translateY(-40px);
}

.dialogBox {
    border: 5px solid black;
    border-radius: 10px;
    width: 60%;
    padding: 1%;
    margin: auto;
    margin-bottom: 4%;
    display: flex;
    background-color: #111;
}

.dialogText {
    font-size: 14px;
    line-height: 1.5;
}

.dialogPortrait {
    width: 80px;
    height: 80px;
    margin-right: 16px;
    background-size: cover;
    border: 2px #222 solid;
}

/* The Lamb */
.lamb {
    border-color: red;
    /* font-family: TODO: FIND NEW FONT */
    font-size: 80%;
    color: #c00000;
}

.dialogBox.lamb > .dialogPortrait.neutral{
    background-image: url(../resources/Lambs_Icon.png);
}

/* Chemach */
.chemach{
    border-color:#52a8d5;
    font-family: Pacifico;
    color: #003d73;
}

.dialogBox.chemach > .dialogPortrait.neutral{
    background-image: url(../resources/Chemach.png);
}