@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: true;
}    

@keyframes spinning-grad {
    from {--angle: 0deg;}
    to {--angle: 360deg;}
}

@keyframes bgAnim{
    /* cha cha real smooth */
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 100px 100px;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

/* slow animation when reduced-motion is set */
@media(prefers-reduced-motion: reduce) {
    .marquee-content {
        animation: scroll 60s linear infinite;
    }
}

:root {
    --box-bgColor: #ffffff;
    --rConGradLight: #00ff00;
    --rConGradDark: #008000;
    --textColor: #000000;
    --buttonColor: #ffffff;
    --dim-bg: 0;
    --section-bgColor: #9cff9c;
    --hr-color: #80c080;
    --link-color: #008000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --box-bgColor:#353535;
        --rConGradLight:#ff00ff;
        --rConGradDark:#800080;
        --textColor:#ffffff;
        --buttonColor:#404040;
        --dim-bg:0.75;
        --section-bgColor:#630063;
        --hr-color:#c080c0;
        --link-color:#c000c0;
    }
}

.box {
    --startDeg: 0;
    position: relative; 
    width: 80%;
    max-width: 750px;
    margin: 5% auto 5% auto;
    overflow: none;    
    padding: 10px;
    text-align: left;
    opacity: 1;
    z-index: 1;
    font-family: "Jura", sans-serif;
    background-color: var(--box-bgColor);
    border-image: repeating-conic-gradient(
    from var(--angle),
        var(--rConGradLight) 0%,
        var(--rConGradDark) 10%,
        var(--rConGradLight) 20%
    ) 1;
    color: var(--textColor);
    animation: spinning-grad 60s linear infinite;
    border-width: 10px;
    border-style: solid;
}


.embed {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.shelved {
    color:#808080;
}
.abandoned {
    color:red;
}
.inprogress {
    color:yellow;
}
button {
    background-color: var(--buttonColor);
    color: var(--text-color);
}

body {
    background-image:
    linear-gradient(
        rgba(0, 0, 0, var(--dim-bg)), 
        rgba(0, 0, 0, var(--dim-bg))
    ),
    url("../resources/backgrounds/tilableBG1.png");
    background-repeat: repeat;
    animation: bgAnim 30s linear infinite;
    overflow-x: none;
    overflow-y: auto;
}

h1 {
    text-align: center;
}

section {
    background-color: var(--section-bgColor);
    font-weight: 500;
    padding: 5px;
}

hr {
    border: 2.5px dashed var(--hr-color);
}

a {
    color: var(--link-color);
}

button[onclick^="history.back()"]::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 2px;
    background-image: url("../resources/icons/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.spoiler {
    filter: blur(5.5px);
    transition: filter .4s;
}
.spoiler:hover {
    filter: blur(0px);
}

.marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    animation: scroll 30s linear infinite;
    list-style-type: none;
}
/* .marquee-content:hover {
animation-play-state: paused;
} */

.licence {
    padding-top: 5px;
    text-align: center;
    font-size: 7.5px;
}
.licence::after {
    color: #ffffff;
    content: '© 2025 TheDogOfChaos. All Rights Reserved.';
    font-size: medium
}
